body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    cursor: url("../img/cursor/cursor.png"), auto;
    background-color: #d4efe6;
    overflow-x: hidden;
}
.bodyIndex {
    background-image: url("../img/index/indexBcg.jpg");
}
.bodyAbout {
    background-image: url("../img/about/aboutBcg.png");
}
.bodyDiseases, .bodyClinics {
    height: auto;
    background-image: url("../img/diseases/diseasesBcg.png");
}
.bodyLS {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/ls/lsBcg.jpg");
    background-repeat: repeat !important;
}
.bodyHelp {
    background-image: url("../img/diseases/diseasesBcg.png");
}
body.bodyProfile {
    background-image: url("../img//diseases/diseasesBcg.png");
    background-repeat: repeat;
}
a, a:hover {
    text-decoration: none;
    color: black;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h6, p {
    margin: 0;
}
p {
    text-align: left;
}
body::-webkit-scrollbar {
    width: auto;
}
body::-webkit-scrollbar-thumb {
    background-color:  #FFD95A;
    outline: 1px solid #ffffff;
    box-shadow: inset 0 0 10px rgb(151, 111, 1); 
    border-radius: 20px;
    cursor: pointer;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px white; 
    background-color: rgb(77, 95, 102);
}
@media only screen and (max-width: 1200px) {
    h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .mb-5 {
        margin-bottom: 1rem!important;
    }
}
@media only screen and (max-width: 800px) {
    h3 {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 710px) {
    h3 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 576px) {
    .bodyIndex {
        background-image: url("../img/index/indexBtnMob.avif");
    }
    .bodyAbout {
        height: 105vh !important;
    }
    h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 530px) {
    .bodyAbout {
        height: 110vh !important;
    }
    h3 {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 480px) {
    .bodyAbout {
        height: 100vh !important;
    }
    h1 {
        font-size: 2rem;
    }
    h2, h4 {
        font-size: 1rem;
    }
}