.catalogWrapper {
    padding: 45px;
    gap: 30px !important;
}
.catalogExit img {
    height: 50px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.exitBtn:hover, .exitBtnHover:hover {
    height: 50px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
}
.exitBtnHover {
    display: none;
}
.catalogExitRow, .catalogInfoRow {
    width: 100%;
}
.catalogExit {
    display: flex;
    justify-content: right;
}
.catalogIDCol {
    display: flex;
    justify-content: left;
    padding: 0;
}
.catalogInfoCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    padding: 0;
    text-align: left;
}
.catalogInfoCol h5 {
    color: #98b5c8;
}
.vetTable {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #e3e8eb;
    border-radius: 5px;
}
.vetTableHeading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 6px;
    color: white;
    background-color: #98b5c8;
    border-radius: 5px;
    gap: 5px;
}
.vetTableHeadingCol {
    padding: 0;
}
.vetTableHeadingCol h6 {
    margin: 0;
    text-transform: uppercase;
}
.vetDate {
    text-align: right;
}
.vetInputHeadingCol {
    text-align: left;
}
.vetTableInfo {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding: 2px;
}
.vetInfo {
    line-height: 30px;
}
.vetTableInfo ul{
    list-style: none !important;
    padding: 6px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.vetInputTable {
    display: none;
}
.vetInputTableInfo ul {
    padding: 0 0 10px 0;
}
.vetTableInfo ul li {
    background-color: white;
}
.vetTableInfo ul li, .vetTableInfo p{
    padding: 0 0 0 4px;
    text-align: left;
    border-radius: 4px;
}
.vetInfoInput {
    width: 98%;
}
.vetInfoInput:focus {
    box-shadow:  2px 2px 3px 1px #98b5c8;
    border-color: #98b5c8;
}
.vetHeadingInput:focus {
    box-shadow:  2px 2px 3px 1px #728796;
    border-color: #728796;
}
.catalogEdit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0 5px 5px 5px;
}
.catalogEdit button {
    border-radius: 4px;
    border: 1px solid #98b5c8;
    background-color: white;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
}
.catalogEdit button:hover, .catalogEdit button:focus{
    background-color: #98b5c8;
    color: white;
    cursor: pointer;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
    outline: none;
}
.row-12.profileButton.catalogBtn {
    width: 100% !important; 
    margin-bottom: 10px;
}
.vetTableInfo ul span {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.vetTableExampleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
div#appointmentContainer {
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.scrollVetTable {
    width: 90%;
    display: none;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    height: 600px;
    overflow-y: auto;
    border: 4px solid #98b5c8;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5))
}
.scrollVetTable::-webkit-scrollbar {
    width: 12px;
}
.scrollVetTable::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.scrollVetTable::-webkit-scrollbar-thumb {
    background-color:  #FFD95A;
    box-shadow: inset 0 0 3px rgb(151, 111, 1); 
    border-radius: 20px;
    cursor: pointer;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
}
.scrollVetTable-content {
    width: 100%;
    padding-bottom: 20px;
}
.editVetInputHeading {
    flex-direction: column;
    gap: 10px;
}
.vetInputHeading h6{
    text-align: left;
}
@media only screen and (max-width: 1440px) {
    .vetTableHeading {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .vetTableHeading h6{
        text-align: center;
    }
    .editVetInputHeading h6 {
        text-align: left;
    }
    .appointmentsColWidth.col-1, .appointmentsColWidth.col-9, .appointmentsColWidth.col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .catalogIDCol {
        justify-content: center;
    }
    .catalogWrapper {
        padding: 30px;
    }
}
@media only screen and (max-width: 800px) {
    .vetTable {
        width: 95%;
    }
    .catalogExit img {
        height: 40px;
    }
    .vetTableHeading {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .vetTableHeadingCol {
        text-align: center;
    }
    .vetInputHeadingCol {
        text-align: left;
    }
    .col-6.vetTableHeadingCol.vetInputHeadingCol {
        max-width: 100%;
    }
    .vetHeadingInput {
        margin-top: 5px;
    }
    .col-6.vetTableHeadingCol {
        max-width: 100%;
    }
    .scrollVetTable {
        width: 95%;
    }
}
@media only screen and (max-width: 650px) {
    .profileWhiteWrapper.catalogWhiteWrapper {
        width: 80%;
    }
    .profileButton.catalogBtn {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    .catalogWrapper {
        padding: 20px;
    }
    .profileWhiteWrapper.catalogWhiteWrapper {
        width: 90%;
    }
}
@media only screen and (max-width: 450px) {
    .catalogWrapper {
        padding: 20px 10px;
    }
    .profileWhiteWrapper.catalogWhiteWrapper {
        width: 100%;
    }
    .catalogExit img {
        height: 30px;
    }
}