.index-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    margin-top: 50px;
}
.container {
    max-width: 1500px;
}
.indexBtnRow {
    position: relative;
}
.IDSearchClinic {
    position: absolute;
    top: 20px;
    left: 110px;
}
.IDSearchClinicInput,.IDSearchClinicInput:active {
    height: 60px;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
}
.IDSearchClinicInput:focus {
    background-color: white;
}
.IDSearchClinicInput::placeholder {
    font-size: 20px;
    color: black;
}
.indexBtn, .indexBtnHover {
    height: 100px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.indexBtnHover {
    display: none;
}
.indexBtn-abs {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 470px;
}
.indexBtn-abs:hover {
    cursor: pointer;
    color: white;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
}
.IDSearchClinic {
    display: none;
}
.IDSearchClinicHeader {
    display: flex !important;
}
.IDSearchClinicInput {
    text-align: center;
}
.btn-outline-success {
    border-color: transparent;
}
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    border-color: transparent !important;
    box-shadow: none !important; 
    outline: none !important;
}
input.form-control.mr-sm-2.IDSearchClinicInput {
    color: black;
}
span#findIDError {
    font-weight: bold;
    padding-left: 50px;
    width: 100%;
    display: flex;
}
@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1200px !important;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1000px !important;
    }
    .indexBtn, .indexBtnHover {
        height: 95px;
    }
    .indexBtn-abs {
        width: 440px;
        height: 105px;
    }
    input.form-control.mr-sm-2.IDSearchClinicInput {
        width: 190px;
    }
}
@media only screen and (max-width: 992px) {
    .container {
        max-width: 900px !important;
    }
    .indexBtn, .indexBtnHover {
        height: 90px;
    }
    .indexBtn-abs {
        width: 420px;
        height: 100px;
    }
    .IDSearchClinic {
        top: 15px;
        left: 100px;
    }
}
@media only screen and (max-width: 576px) {
    .index-wrapper {
        height: 45vh;
    }
    .container {
        justify-content: center;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .mb-5 {
        margin-bottom: 1rem!important;
    }
    .empty {
        display: none;
    }
    .indexBtnDiv {
        width: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .indexBtnRow {
        width: 100%;
        justify-content: center !important;
    }
    .indexBtn-abs {
        padding-left: 50px;
    }
    form.form-inline.IDSearchClinic {
        width: 100%;
        justify-content: center;
        left: 30px;
    }
    span#findIDError {
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
@media only screen and (max-width: 480px) {
    .indexBtn, .indexBtnHover {
        height: 80px;
    }
    .indexBtn-abs {
        height: 90px;
    }
    .index-wrapper {
        height: 42vh;
    }
    form.form-inline.IDSearchClinic {
        top: 15px;
    }
    input.form-control.mr-sm-2.IDSearchClinicInput {
        width: 170px;
        height: 50px;
    }
    .indexBtn-abs {
        padding-left: 40px;
    }
    input.form-control.mr-sm-2.IDSearchClinicInput::placeholder {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 420px) {
    .indexBtn, .indexBtnHover {
        height: 70px;
    }
    .indexBtn-abs {
        height: 80px;
        width: 250px;
    }
    form.form-inline.IDSearchClinic {
        top: 10px;
    }
    input.form-control.mr-sm-2.IDSearchClinicInput {
        width: 150px;
        padding: 6px;
    }
    img.searchIconImg {
        height: 25px;
    }
}
@media only screen and (max-width: 320px) {
    .col-12.mb-5 {
        padding: 0 5px;
    }
}

