.profile {
    height: auto;
    margin-top: 50px;
}
.profileWhiteWrapper {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.profileWrapper {
    border-radius: 20px;
    border: 10px #98b5c8 solid;
    height: auto;
    padding: 45px 0;
    margin: 30px;
    width: 100%;
    justify-content: flex-start;
    gap: 40px;
}
.profileRow {
    width: 80%;
}
.profileCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
div#profileCLID {
    display: none;
}
.profileButton {
    width: 80%;
}
.profileButton h4 {
    margin: 0;
    color: white;
}
.profileInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.profileInfo h5 {
    margin: 0;
    color: #98b5c8;
    font-weight: bold;
}
.profileInfoSpan {
    font-size: 18px;
}
div#profileCLID {
    justify-content: flex-start;
}
div#profileSDClinic {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileButton button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #98b5c8;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    border: none;
    transition: transform 0.3s ease-in-out;
}
.profileButton button:hover {
    cursor: pointer;
    cursor: url("../img/cursor/cursorPointer.png"), pointer;
    transform: scale(0.95);
}
.profileBtn button:focus {
    outline: none;
}
.profileClinicsBtn {
    display: none;
}
.logOutButton {
    width: 20%;
}
.logOutButton button {
    border: 1px solid #98b5c8;
    background-color: white;
}
.logOutButton h4 {
    color: #98b5c8;
}
#profileSD {
    flex-direction: column;
    align-items: flex-start;
}
#profileSDClinic {
    flex-direction: column;
    align-items: flex-start;
}
#profileED {
    flex-direction: column;
    align-items: flex-start;
}
.profileMembershipAfter {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profileMemAfterInput {
    width: 500px !important;
}
.profileAfterBtn {
    display: none;
    width: 100% !important;
}
.profileAfterBtn a {
    margin: 0 auto;
    width: 20%;
}
.profileAfterBtnPay {
    display: none;
    width: 100%;
}
.profileAfterBtnPay a {
    margin: 0 auto;
    width: 50%;
}
@media only screen and (max-width: 1200px) {
    .profileRow {
        width: 90%;
    }
    .logOutButton {
        width: 30%;
    }
    .profileInfo {
        flex-direction: row;
        align-items: center;
    }
    .profileMemAfterInput {
        width: 400px !important;
    }
}
@media only screen and (max-width: 992px) {
    .profileRow {
        flex-direction: column;
    }
    .profileCol {
        text-align: center;
    }
    .profileWrapper {
        gap: 20px;
    }
    div#profileCLID {
        justify-content: center;
    }
    .profileInfo {
        flex-direction: row;
        align-items: center;
    }
    div#profileCLID {
        justify-content: flex-start;
    }
    div#profileSDClinic {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .profileAfterBtnPay a {
        width: 60%;
    }
}
@media only screen and (max-width: 920px) {
    .profileAfterBtn a {
        width: 25% !important;
    }
}
@media only screen and (max-width: 850px) {
    .profileWhiteWrapper {
        width: 70%;
    }
    .profileMemAfterInput {
        width: 350px !important;
    }
    .profileAfterBtnPay a {
        width: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .profileMemAfterInput {
        width: 300px !important;
    }
}
@media only screen and (max-width: 650px) {
    .logOutButton {
        width: 40%;
    }
    .profileInfo {
        flex-direction: column;
    }
    div#profileSDClinic {
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px) {
    .profileWhiteWrapper {
        width: 80%;
    }
    .profileAfterBtnPay a {
        width: 60%;
    }
    .profileAfterBtn a {
        width: 30% !important;
    }
}
@media only screen and (max-width: 500px) {
    .profileMemAfterInput {
        width: 200px !important;
    }
    .profileAfterBtn a {
        width: 35% !important;
    }
}
@media only screen and (max-width: 410px) {
    .profileButton {
        width: 90%;
    }
    .logOutButton {
        width: 50%;
    }
    .profileAfterBtnPay a {
        width: 70%;
    }
    .profileAfterBtn a {
        width: 40% !important;
    }
}
@media only screen and (max-width: 375px) {
    .profileWhiteWrapper {
        width: 90%;
    }
}
@media only screen and (max-width: 320px) {
    .profileWhiteWrapper {
        width: 100%;
    }
    .profileWrapper {
        margin: 20px;
    }
}
